[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "randomMachines"]
	path = randomMachines
	url = https://github.com/mateusmaiads/randommachines
